package components

import "uot-exam/internal/domain"
import "uot-exam/web/templates/components/card"
import "uot-exam/web/templates/components/radio"
import "uot-exam/web/templates/components/label"
import "fmt"
import "uot-exam/web/templates/components/aspectratio"
import "uot-exam/web/templates/components/button"
import "uot-exam/web/templates/components/dialog"
import "uot-exam/web/templates/components/input"
import "uot-exam/web/templates/components/form"
import "uot-exam/web/templates/components/textarea"

type QuestionListProps struct {
	Questions []domain.Question
}

templ QuestionList(props QuestionListProps) {
	<div class="space-y-4" id="question-list">
	for i, question := range props.Questions {
		switch question.QuestionType {
			case string(domain.QuestionTypeText):
				@QuestionItem(question, question.Choices, i+1)
			case string(domain.QuestionTypeCode):
				@QuestionCodeItem(question, question.Choices, i+1)
			case string(domain.QuestionTypeImage):
				@ImageQuestionItem(question, question.Choices, i+1)
		}
	}
	</div>
}

templ QuestionItem(question domain.Question, choices []domain.Choice, number int) {
	@card.Card(card.Props{
		Class: "mb-6",
	}) {
		@card.Header() {
			@card.Title() {
				<span class="font-bold">Q.{ fmt.Sprint(number) }. </span>
				<span class="latex-content">{ question.QuestionTitle }</span>
			}
		}
		@card.Content() {
			<span class="latex-content">{ question.QuestionText }</span>
		}
		@card.Footer() {
			<div class="grid grid-cols-2 gap-3 w-full">
				for i, choice := range choices {
					@ChoiceItem(choice, number, fmt.Sprintf("%c", 'A'+i))
				}
			</div>
		}
		@card.Footer(card.FooterProps{
			Class: "flex justify-end",
		}) {
			@EditDialog(question)
			@DeleteDialog()
		}
	}
}

templ ChoiceItem(choice domain.Choice, qIndex int, cIndex string) {
	@label.Label(label.Props{
		For:   fmt.Sprintf("q%d-option-%s", qIndex, cIndex),
		Class: "block cursor-pointer h-full",
	}) {
		@card.Card(card.Props{
			Class: "hover:border-primary/50 has-[:checked]:ring-1 has-[:checked]:ring-primary has-[:checked]:border-primary transition-all h-full",
		}) {
			@card.Content(card.ContentProps{
				Class: "p-3 flex items-center gap-3 h-full",
			}) {
				@radio.Radio(radio.Props{
					ID:    fmt.Sprintf("q%d-option-%s", qIndex, cIndex),
					Name:  fmt.Sprintf("question-%d-options", qIndex),
					Value: cIndex,
					Class: "peer hidden",
				})
				<div class="bg-muted peer-checked:bg-primary peer-checked:text-white transition-all text-muted-foreground w-8 h-8 flex items-center justify-center rounded-sm shrink-0">
					<span>{ cIndex }</span>
				</div>
				<div class="flex-1">
					<p class="text-md leading-tight font-medium">
						{ choice.ChoiceText }
					</p>
				</div>
			}
		}
	}
}

templ QuestionCodeItem(question domain.Question, choices []domain.Choice, number int) {
	@card.Card(card.Props{
		Class: "mb-6",
	}) {
		@card.Header() {
			@card.Title() {
				<span class="font-bold">Q.{ fmt.Sprint(number) }. </span>
				<span class="latex-content">{ question.QuestionTitle }</span>
			}
		}
		@card.Content() {
			<div class="w-full rounded-md overflow-x-auto">
				<pre><code class="language-rust">{ question.QuestionText }</code></pre>
			</div>
		}
		@card.Footer() {
			<div class="grid grid-cols-2 gap-3 w-full">
				for i, choice := range choices {
					@ChoiceItem(choice, number, fmt.Sprintf("%c", 'A'+i))
				}
			</div>
		}
		@card.Footer(card.FooterProps{
			Class: "flex justify-end",
		}) {
			@EditDialog(question)
			@DeleteDialog()
		}
	}
}

templ ImageQuestionItem(question domain.Question, choices []domain.Choice, number int) {
	@card.Card(card.Props{
		Class: "mb-6",
	}) {
		@card.Header() {
			@card.Title() {
				<span class="font-bold">Q.{ fmt.Sprint(number) }. </span>
				<span class="latex-content">{ question.QuestionTitle }</span>
			}
		}
		@card.Content() {
			<div class="w-full rounded-md overflow-x-auto">
				@aspectratio.AspectRatio(aspectratio.Props{
					Ratio: aspectratio.RatioWide,
					Class: "rounded-md overflow-hidden",
				}) {
					<img
						src="https://onlinelibrary.wiley.com/cms/asset/85e9fa0c-319d-4b19-888a-0833b0c72b02/jgt22801-fig-0003-m.jpg"
						alt="Example image"
						class="h-full w-full object-cover "
					/>
				}
			</div>
		}
		@card.Footer() {
			<div class="grid grid-cols-2 gap-3 w-full">
				for i, choice := range choices {
					@ChoiceItem(choice, number, fmt.Sprintf("%c", 'A'+i))
				}
			</div>
		}
		@card.Footer(card.FooterProps{
			Class: "flex justify-end",
		}) {
			@EditDialog(question)
			@DeleteDialog()
		}
	}
}

templ EditDialog(question domain.Question) {
	@dialog.Dialog(dialog.Props{
		ID: "edit-dialog",
	}) {
		@dialog.Trigger() {
			@button.Button(button.Props{
				Variant: button.VariantLink,
				Size:    button.SizeSm,
				Class:   "text-primary",
			}) {
				Edit
			}
		}
		@dialog.Content() {
			@dialog.Header() {
				@dialog.Title() {
					Edit Question
				}
				@dialog.Description() {
					Edit question information
				}
			}
			<form
				id="edit-question-form"
				hx-post={ fmt.Sprintf("/admin/dashboard/questions/edit/%s", question.ID) }
				hx-target="#edit-dialog"
				hx-swap="outerHTML"
			>
				switch question.QuestionType {
					case "TEXT":
						@TextQuestionForm(question)
					case "CODE":
						@CodeQuestionForm(question)
					case "IMAGE":
						@ImageQuestionForm(question)
				}
			</form>
			@dialog.Footer() {
				@button.Button(button.Props{
					Variant: button.VariantDefault,
					Size:    button.SizeSm,
					Type:    "submit",
					Form:    "edit-question-form",
				}) {
					Save
				}
				@button.Button(button.Props{
					Variant: button.VariantOutline,
					Size:    button.SizeSm,
				}) {
					Cancel
				}
			}
		}
	}
}

templ DeleteDialog() {
	@dialog.Dialog(dialog.Props{
		ID: "delete-dialog",
	}) {
		@dialog.Trigger() {
			@button.Button(button.Props{
				Variant: button.VariantLink,
				Size:    button.SizeSm,
				Class:   "text-destructive",
			}) {
				Delete
			}
		}
		@dialog.Content() {
			@dialog.Title() {
				Delete Question
			}
			@dialog.Description() {
				Delete question information
			}
			@dialog.Footer() {
				@button.Button(button.Props{
					Variant: button.VariantDestructive,
					Size:    button.SizeSm,
				}) {
					Delete
				}
				@dialog.Close() {
					@button.Button(button.Props{
						Variant: button.VariantOutline,
						Size:    button.SizeSm,
					}) {
						Cancel
					}
				}
			}
		}
	}
}

templ TextQuestionForm(question domain.Question) {
	<div class="space-y-4 flex flex-col gap-4">
		<div class="flex-1">
			@card.Card() {
				@card.Header() {
					@card.Title() {
						Question Details
					}
				}
				@card.Content() {
					@form.Item() {
						@form.Label(form.LabelProps{
							For:   "question-title",
							Class: "text-sm font-medium mb-2",
						}) {
							Question Title
						}
						@input.Input(input.Props{
							ID:       "question-title",
							Name:     "question-title",
							Value:    question.QuestionTitle,
							Required: true,
						})
					}
					@form.Item() {
						@form.Label(form.LabelProps{
							For:   "question-marks",
							Class: "text-sm font-medium mb-2",
						}) {
							Question Marks
						}
						@input.Input(input.Props{
							Type:     input.TypeNumber,
							ID:       "question-marks",
							Name:     "question-marks",
							Value:    fmt.Sprintf("%d", question.Marks),
							Required: true,
							Attributes: templ.Attributes{
								"min": "1",
							},
						})
					}
					@form.Item() {
						@form.Label(form.LabelProps{
							For:   "question-text",
							Class: "text-sm font-medium mb-2",
						}) {
							Question Text
						}
						@textarea.Textarea(textarea.Props{
							ID:    "question-text",
							Name:  "question-text",
							Value: question.QuestionText,
							Attributes: templ.Attributes{
								"hx-post":    "/preview/question-text",
								"hx-trigger": "keyup changed delay:300ms",
								"hx-target":  "#question-preview",
								"hx-swap":    "innerHTML",
							},
						})
					}
				}
			}
		</div>
		<div class="flex-1">
			if question.QuestionText != "" {
				@card.Card() {
					@card.Header() {
						@card.Title() {
							Preview
						}
					}
					@card.Content() {
						@QuestionPreview(question.QuestionTitle, question.QuestionText)
					}
				}
			}
		</div>
	</div>
}

templ QuestionPreview(questionTitle, questionText string) {
	<div id="question-preview" class="latex-content">{ questionTitle }<br/>{ questionText }</div>
}

templ CodeQuestionForm(question domain.Question) {
	@form.Item() {
		@input.Input(input.Props{
			ID:    "question-title",
			Name:  "question-title",
			Value: question.QuestionTitle,
		})
	}
	@form.Item() {
		@textarea.Textarea(textarea.Props{
			ID:    "question-text",
			Name:  "question-text",
			Value: question.QuestionText,
		})
	}
	@form.Item() {
		@input.Input(input.Props{
			ID:    "question-marks",
			Name:  "question-marks",
			Value: fmt.Sprintf("%d", question.Marks),
		})
	}
}

templ ImageQuestionForm(question domain.Question) {
	@form.Item() {
		@input.Input(input.Props{
			ID:    "question-title",
			Name:  "question-title",
			Value: question.QuestionTitle,
		})
	}
	@form.Item() {
		@input.Input(input.Props{
			ID:         "question-image",
			Name:       "question-image",
			Value:      question.QuestionImage,
			Type:       "file",
			Required:   true,
			FileAccept: "image/*",
		})
	}
	@form.Item() {
		@textarea.Textarea(textarea.Props{
			ID:    "question-text",
			Name:  "question-text",
			Value: question.QuestionText,
		})
	}
	@form.Item() {
		@input.Input(input.Props{
			ID:    "question-marks",
			Name:  "question-marks",
			Value: fmt.Sprintf("%d", question.Marks),
		})
	}
}
