package page

import "uot-exam/web/templates/components/sidebar"
import "uot-exam/web/templates/components/collapsible"
import "uot-exam/web/templates/components/dropdown"
import "uot-exam/web/templates/components/popover"
import "uot-exam/web/templates/components/dialog"
import "uot-exam/web/templates/components/toast"
import "uot-exam/web/templates/components/icon"
import "uot-exam/web/templates/components/chart"
import "uot-exam/internal/domain"
import "uot-exam/web/templates/pages/admin_dashboard/components"
import "uot-exam/web/templates/components/navbar"
import "uot-exam/web/templates/components/card"
import "uot-exam/web/templates/components/button"

type AdminDashboardParam struct {
	Users           []domain.User
	Exams           []domain.Exam
	TotalUsers      string
	TotalUsersCount int64
	Username        string
	FullName        string
}

templ AdminMainPage(params AdminDashboardParam) {
	<div class="h-screen">
		@sidebar.Script()
		@collapsible.Script()
		@dropdown.Script()
		@popover.Script()
		@dialog.Script()
		@toast.Script()
		@chart.Script()
		@components.Sidebar("", []navbar.BreadPath{
			{Href: "/admin/dashboard", Path: "Dashboard"},
		}, params.Username, params.FullName) {
			<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 space-y-8">
				<div class="flex flex-col md:flex-row md:items-center justify-between gap-4">
					<div>
						<h1 class="text-3xl font-extrabold text-slate-900 tracking-tight flex items-center gap-3">
							@icon.LayoutPanelTop(icon.Props{Class: "h-8 w-8"})
							Admin Dashboard
						</h1>
						<p class="text-slate-500 mt-1">Overview of system metrics, active users, and platform activity.</p>
					</div>
				</div>
				<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
					@components.TotalCard(components.TotalCardProps{
						Title:       "Total Users",
						Description: "Total number of users on the platform.",
						Value:       params.TotalUsers,
						Icon:        icon.Users(icon.Props{Class: "h-10 w-10"}),
					})
					@components.TotalCard(components.TotalCardProps{
						Title:       "Total Exams",
						Description: "Total number of Exams taken on the platform.",
						Value:       "20",
						Icon:        icon.Book(icon.Props{Class: "h-10 w-10"}),
					})
					@components.TotalCard(components.TotalCardProps{
						Title:       "Total Questions",
						Description: "Total number of Questions on the platform.",
						Value:       "80",
						Icon:        icon.BadgeQuestionMark(icon.Props{Class: "h-10 w-10"}),
					})
				</div>
				@ExamGridTableCard(params.Exams)
				@components.UserTable(components.UserTableProps{
					Users:         params.Users,
					Title:         "Recent Users",
					TotalCount:    0,
					Limit:         4,
					Offset:        0,
					BaseURL:       "/admin/dashboard/users",
					ShowAllButton: true,
					HideActions:   true,
				})
			</div>
		}
	</div>
}

templ ExamGridTableCard(exams []domain.Exam) {
	@card.Card(card.Props{
		Class: "w-full overflow-hidden",
	}) {
		@card.Header() {
			@card.Title() {
				<span class="text-2xl font-bold">
					Recent Exams
				</span>
			}
			@card.Description() {
				<span class="text-sm text-muted-foreground">Overview of recent exams on the platform.</span>
			}
		}
		@card.Content(card.ContentProps{Class: "p-4"}) {
			@components.ExamTableGrid(exams)
			@button.Button(button.Props{
				Href:  "/admin/dashboard/exams",
				Class: "w-full mt-4",
			}) {
				All Exams 
			}
		}
	}
}
