package page

import (
 "uot-exam/internal/domain"
 "uot-exam/web/templates/pages/admin_dashboard/components"
 "uot-exam/web/templates/components/navbar"
 "uot-exam/web/templates/components/sidebar"
 "uot-exam/web/templates/components/collapsible"
 "uot-exam/web/templates/components/dropdown"
 "uot-exam/web/templates/components/popover"
 "uot-exam/web/templates/components/dialog"
 "uot-exam/web/templates/components/toast"
 "uot-exam/web/templates/components/chart"
 "uot-exam/web/templates/components/icon"
 "strings"
)

type DeletedUsersPageParams struct {
	DeletedUsers []domain.User
    Username string
    FullName string
    TotalUsers string
    TotalUsersCount int64
    Title string
}

templ DeletedUsersPage(params DeletedUsersPageParams) {
    @sidebar.Script()
	@collapsible.Script()
	@dropdown.Script()
	@popover.Script()
    @dialog.Script()
    @toast.Script()
    @chart.Script()

    @components.Sidebar("/admin/dashboard/users/deleted", []navbar.BreadPath{
        {
            Href: "/admin/dashboard",
            Path: "Dashboard",
        },
        {
            Href: "/admin/dashboard/users",
            Path: "Users",
        },
        {
            Href: "/admin/dashboard/users/deleted",
            Path: "Deleted Users",
        }},
        params.Username, params.FullName) {

     			<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 space-y-8 animate-in fade-in slide-in-from-bottom-4 duration-500">
    				<div class="flex flex-col md:flex-row md:items-center justify-between gap-4">
					<div>
						<h1 class="text-3xl font-extrabold text-slate-900 tracking-tight flex items-center gap-3">
							@icon.Users(icon.Props{Class: "h-8 w-8"})
							{ params.Title }
						</h1>
						<p class="text-slate-500 mt-1">List of all {strings.ToLower(params.Title)} on the platform.</p>
					</div>
               </div>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

			   @components.TotalCard(components.TotalCardProps{
					Title: "Total Deleted Users",
					Description: "Total number of deleted users on the platform.",
					Value: params.TotalUsers,
					Icon: icon.Users(icon.Props{Class: "h-10 w-10"}), 
			   })   
			   </div>
			   @components.UserTable(components.UserTableProps{
					Title:      "Deleted Users",
					Users:      params.DeletedUsers,
					TotalCount: int64(params.TotalUsersCount),
					Limit:      12,
					Offset:     0,
					BaseURL:    "/admin/dashboard/users/deleted",
					Search: true,
                    SearchAPI: "/admin/dashboard/users/deleted/search",
					AddUser: false,
                    DeletedButton: true,
			   })
			</div>
	}
}