package page

import "uot-exam/internal/domain"
import "uot-exam/web/templates/pages/admin_dashboard/components"
import "uot-exam/web/templates/components/navbar"
import "uot-exam/web/templates/components/sidebar"
import "uot-exam/web/templates/components/collapsible"
import "uot-exam/web/templates/components/dropdown"
import "uot-exam/web/templates/components/popover"
import "uot-exam/web/templates/components/dialog"
import "uot-exam/web/templates/components/toast"
import "uot-exam/web/templates/components/chart"
import "uot-exam/web/templates/components/icon"

type EditSubjectPageParam struct {
	Subject domain.Subject
}

templ EditSubjectPage(param EditSubjectPageParam) {
        @sidebar.Script()
	@collapsible.Script()
	@dropdown.Script()
	@popover.Script()
    @dialog.Script()
    @toast.Script()
    @chart.Script()

    @components.Sidebar("/admin/dashboard/subjects", []navbar.BreadPath{
        {
            Href: "/admin/dashboard",
            Path: "Dashboard",
        },
        {
            Href: "/admin/dashboard/users",
            Path: "Users",
        },
    }, "", "") {

     			<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 space-y-8 animate-in fade-in slide-in-from-bottom-4 duration-500">
    				<div class="flex flex-col md:flex-row md:items-center justify-between gap-4">
					<div>
						<h1 class="text-3xl font-extrabold text-slate-900 tracking-tight flex items-center gap-3">
							@icon.Users(icon.Props{Class: "h-8 w-8"})
							{param.Subject.Title}
						</h1>
						<p class="text-slate-500 mt-1">List of all users on the platform.</p>
					</div>
               </div>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

			   </div>
			</div>
		}
	}
