package pages

templ BasePage(title string, content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			if token, ok := ctx.Value("csrf_token").(string); ok {
				<meta name="csrf-token" content={ token }/>
			}
			<title>{ title }</title>
			@headers()
		</head>
		<body class="h-full w-full antialiased text-slate-900">
			@content
		</body>
	</html>
}

templ headers(scripts ...string) {
	<script src="/src/htmx.min.js"></script>
	<link rel="stylesheet" href="/static/css/output.css?v=1778683133"/>
	<script>
		document.addEventListener("htmx:configRequest", (event) => {
			const meta = document.querySelector('meta[name="csrf-token"]');
			if (meta) {
				event.detail.headers['X-CSRF-TOKEN'] = meta.getAttribute("content");
			}
		});
	</script>
	for _, script := range scripts {
		<script src={ script } defer></script>
	}
}
