package components

templ HTMLHead(Title string) {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{ Title }</title>
		<link rel="stylesheet" href="/web/static/css/output.css"/>
		<script src="/web/static/js/htmx.js"></script>
		<script src="/web/static/js/alpine.js"></script>
	</head>
}
