package templates

import "github.com/Glorified-Toaster/senior-project/internal/templates/components"

templ InstructorLoginPage(csrfToken string) {
	<html>
		@components.HTMLHead("Login Page", csrfToken)
		<meta name="csrf-token" content={ csrfToken }/>
		<body class="flex flex-col min-h-screen">
			@components.ParticlesJS()
			@components.Navbar()
			<main class="flex-1 flex items-center justify-center">
				@loginForm("Instructor", "/api/v1/instructor-login")
			</main>
			@components.Footer()
			<!-- Toast container for HTMX responses -->
			<div id="toast-container"></div>
		</body>
	</html>
}
